.wrapper {
  position: relative;
}

.name {
  font-size: 18px;
}

.birthDate {
  font-size: 12px;
  margin-left: 16px;
}

.phone {
  font-size: 14px;
}

.city {
  font-size: 14px;
  text-transform: capitalize;
}

.address {
  font-size: 14px;
}

.buttons {

}

.button {
  margin-right: 16px;
}
